<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="ClubSofwareDatabaseEntities" connectionString="metadata=res://*/Model.ClubSoftwareDatabase.csdl|res://*/Model.ClubSoftwareDatabase.ssdl|res://*/Model.ClubSoftwareDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THANGS-LAPTOP\THAYBOINGUGAT;initial catalog=ClubSofwareDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>